<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->

<!--</head>-->
<!--<body>-->

<!--<form action="#" th:action="@{/addvisit}" th:object="${dentistVisitEntity}" method="post">-->
    <!--<label for="dentistName">Dentist name</label>-->
    <!--<input type="text" th:field="*{dentistName}" id="dentistName" placeholder="Dentist name"/>-->
    <!--<span th:if="${#fields.hasErrors('dentistName')}" th:errors="*{dentistName}"></span>-->
    <!--<label for="visitTime">Visit time</label>-->
    <!--<input type="text" th:field="*{visitTime}" id="visitTime" placeholder="Visit time"/>-->
    <!--<span th:if="${#fields.hasErrors('visitTime')}" th:errors="*{visitTime}"></span>-->
    <!--<input type="submit" value="Add Visit"/>-->
<!--</form>-->

<!--</body>-->
<!--</html>-->